body{
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    margin: 34px auto;
}

.header_logo{
    margin: 13px 0 0 135px;
}

.logo{
    font-family: 'Pacifico';
    font-size: 33px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.nav_ul{
    text-align: center;
}

.nav_li{
    display: inline-block;
}

.nav_li:not(:last-of-type){
    margin-right: 40px;
}

.nav_link{
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #6C6C6C;
    text-decoration: none;
}

.nav_link:hover{
    color: #AC1313;
    font-weight: 700;
}

.nav_link-last{
    font-family: 'Libre Franklin';
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.nav_link-last:hover{
    font-weight: 700;
    font-size: 16px;
}

.flex{
    display: flex;
    justify-content: space-between;    
}

.flex_around{
    display: flex;
    justify-content: space-around;
}

.pompeoPottery{
    position: relative;
    background: url(../img/pottery/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pompeoPottery_div{
    max-width: 512px;
    margin: 192px 0 0 144px;
}

.pompeoPottery_title{
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.pompeoPottery_pretitle{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #D77474;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.pompeoPottery_text{
    font-family: 'Libre Franklin';
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-top: 14px;
    margin-bottom: 51px;
}

.pompeoPottery_i{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    text-align: center;
    color: #AC1313;
    /* position: absolute; */
    display: inline-block;
}

.pompeoPottery_img{
    /* position: absolute; */
    margin: 126px 0 135px;
    /* bottom: 0;
    right: 0; */
}

.div{
    position: relative;
}

.button{
    height: 62px;
    Width: 201px;
    background: #AC1313;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.productCategories{
    position: relative;
    text-align: center;
    padding: 120px 0 150px;
}

.productCategories_items{
    position: relative;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 63px auto 90px;
}

.productCategories_items::before{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.productCategories_items::after{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.productCategories_items--one{
    background-color: #E4B366;
    border: 30px solid rgba(0, 0, 0, 0.05);
}

.productCategories_items--one::after{
    content: 'Vases';
    top: 65%;
}

.productCategories_items--one::before{
    content: url('../img/product/vases.svg');
    top: 45%;
}

.productCategories_items--two{
    background-color: #F05B10;
    border: 30px solid rgba(0, 0, 0, 0.05);
}

.productCategories_items--two::after{
    content: 'Mugs';
    top: 65%;
}

.productCategories_items--two::before{
    content: url('../img/product/mugs.svg');
    top: 45%;
}

.productCategories_items--three{
    background-color: #A21010;
    border: 30px solid rgba(0, 0, 0, 0.05);
}

.productCategories_items--three::after{
    content: 'Plates';
    top: 65%;
}

.productCategories_items--three::before{
    content: url('../img/product/plates.svg');
    top: 45%;
}

.productCategories_items-img{
    position: absolute;
    top: 50%;
    left: 50%; 
}

.productCategories_div{
    text-align: center;
    max-width: 501px;
}

.productCategories_title{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
}

.productCategories_text{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}

.productCategories-vertical{
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg);
    position: absolute;
    left: -7%;
    bottom: 55%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 85px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.grid_items{
    position: relative;
    align-items: center;
}

.grid_items-background{
    position: absolute;
    width: 500px;
    height: 220px;
    background-color: #F5F5F5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.grid_items-img{
    /* position: absolute; */
    z-index: -1;
}

.grid_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.grid_text{
    width: 388px;
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.grid_link{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.collection{
    text-align: center;
    margin: 120px auto;
}

.collection_title{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 60px;
}

.collectionGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.collectionGrid_items{
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
}

.collectionGrid_items_title{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

.collectionGrid_items_price{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 24px;
}

.pompeo{
    background: url(../img/pageBackground.png);
    padding: 120px 0;
    margin-bottom: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pompeo_div{
    margin-left: 144px;
}

.pompeo_title{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.pompeo_text{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.form{
    margin: 0 auto;
    text-align: center;
}

.form_button{
    width: 175px;
    height: 45px;
    background-color: #000000;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.form_email{
    display: inline-block;
    box-sizing: border-box;
    height: 45px;
    border: 1px solid #EBEBEB;
}

.form_label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A1A1A1;
}

.footer{
    margin: 107px auto 30px;
    text-align: center;
}

.footer_text{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}
.footer_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1px;
}

.footer_bottom{
    margin: 10px auto;
    border-top: 1px solid #6C6C6C;
    background: rgba(219, 219, 219, 0.3);
    padding-bottom: 20px;
}

.footer_bottom_text{
    display: inline-block;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
   text-align: right;
   margin-top: 15px;
}

.footer_bottom_text-gray{
    color: #6C6C6C;
}